<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courier Management Company</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
</head>
  <style>
    body {
      padding:20px;
    }
  </style>
  <body>
    <h1>Welcome to the CMC Services</h1>
    <p>MANAGER:: {{uid}}</p>
    <h2>Orders and Status</h2>
    <table id="ordersTable" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Order Status</th>
                <th>Payment Status</th>
            </tr>
        </thead>
        <tbody>
            <!-- Table will be populated dynamically -->
        </tbody>
    </table>

    <h2>Customers</h2>
    <table id="customersTable" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Full Name</th>
                <th>Email</th>
                <th>Phone number</th>
            </tr>
        </thead>
        <tbody>
            <!-- Table will be populated dynamically -->
        </tbody>
    </table>

    <h2>Staff Members</h2>
    <table id="staffTable" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Staff Name</th>
                <th>Email</th>
                <th>Position</th>
            </tr>
        </thead>
        <tbody>
            <!-- Table will be populated dynamically -->
        </tbody>
    </table>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

    <script>
      $(document).ready(function () {
          var customersData;
          var staffData;
          var ordersData;
        $.ajax({
            url: '/api/getAllOrders',
            type: 'GET',
            async: false,
            success: function(response) {
                // Handle the response from the server
              console.log("Response:", response);
              console.log(JSON.stringify(response))
              ordersData = JSON.parse(response)
              console.log("order data")
              console.log(ordersData)

            },
            error: function(xhr, textStatus, errorThrown) {
                // Handle errors from the API
                console.error("Error:", errorThrown);
                alert("Signup failed. Please try again.");
            }
        });

        
          $.ajax({
              url: '/api/getAllCustomer',
              type: 'GET',
              async: false,
              success: function(response) {
                  // Handle the response from the server
                console.log("Response:", response);
                console.log(JSON.stringify(response))
                customersData = JSON.parse(response)

              },
              error: function(xhr, textStatus, errorThrown) {
                  // Handle errors from the API
                  console.error("Error:", errorThrown);
                  alert("Signup failed. Please try again.");
              }
          });

        $.ajax({
            url: '/api/getAllStaff',
            type: 'GET',
            async: false,
            success: function(response) {
                // Handle the response from the server
              console.log(" Response:", response);
              console.log(JSON.stringify(response))
                staffData = JSON.parse(response)

            },
            error: function(xhr, textStatus, errorThrown) {
                // Handle errors from the API
                console.error("Error:", errorThrown);
                alert("Signup failed. Please try again.");
            }
        });


          // Initialize DataTables and populate with data
 //          const ordersTable = $('#ordersTable').DataTable({ data: ordersData, columns: 
 //            [{ data: "OID",                                                                                   render: function(data, type, row) {
 //              return '<a href="manager_view_order_details.html/'+data+'">' + data + '</a>';}
 // }, { data: "order_status" }, { data: "payment_status" }] });
        var uid = "{{uid}}"
        const ordersTable = $('#ordersTable').DataTable({ data: ordersData, columns: 
                    [{ data: "OID",                                                                                   render: function(data, type, row) {
                      var url = "{{ url_for('get_order_page', oid='order_id_placeholder', uid ='user_id_placeholder') }}";
                      url = url.replace('order_id_placeholder', data);
                      url = url.replace('user_id_placeholder', uid);
                      console.log(url)
                      return '<a href="' + url + '">' + data + '</a>';}
         }, { data: "order_status" }, { data: "payment_status" }] });
          const customersTable = $('#customersTable').DataTable({ data: customersData, columns: [{ data: "fullname" }, { data: "email" }, { data: "phone_num" }] });
          const staffTable = $('#staffTable').DataTable({ data: staffData, columns: [{ data: "Staffname" }, { data: "email" }, { data: "role" }] });
      });
    </script>
  </body>
  </html>
</html>
