<!DOCTYPE html>
<html>
<head>
    <title>Order Details</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
</head>
  <style>
    button {
      margin-left:40px;
    }
    .form-control {
      width: 40%;
      margin: 10px;
    }
  </style>
<body>
  {% include "navbar.html" %}
    <div class="container">
        <h1>Order Details</h1>

        <table id="orderDetailsTable" class="display" style="width:100%">
          <tbody>
              <!-- Table will be populated dynamically -->
          </tbody>
        </table>
    </div>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script>
       var oid = "{{oid}}"
      var uid = "{{uid}}"
        $(document).ready(function () {

            var orderData;
          $.ajax({
              url: '/api/getOrder/'+oid,
              type: 'GET',
              async: false,
              success: function(response) {
                
                console.log("Response:", response);
                console.log(JSON.stringify(response))
                orderData = JSON.parse(response)
                console.log("order data")
                console.log(orderData)

              },
              error: function(xhr, textStatus, errorThrown) {
                 
                  console.error("Error:", errorThrown);
                  alert("Signup failed. Please try again.");
              }
          });

          var orderDetails = [];
          var to_be_added = ["OID", "sender", "receiver", "pickup_address_num", "p_city", "p_state", "p_pin", "d_address_num" , "d_city" , "d_state" , "d_pin" , "order_place_date" , "order_status", "payment_status" , "pickup_date", "pickup_by", "delivery_date", "delivery_by", "sname", "assigned_date"]
          var key_mapping = {
              "OID": "OID",
              "sender": "Sender",
              "receiver": "Receiver",
              "pickup_address_num": "Pickup Address Number",
              "p_city": "Pickup City",
              "p_state": "Pickup State",
              "p_pin": "Pickup PIN",
              "d_address_num": "Delivery Address Number",
              "d_city": "Delivery City",
              "d_state": "Delivery State",
              "d_pin": "Delivery PIN",
              "order_place_date": "Order Place Date",
              "order_status": "Order Status",
              "payment_status": "Payment Status",
              "pickup_date": "Pickup Date",
              "pickup_by": "Pickup By",
              "delivery_date": "Delivery Date",
              "delivery_by": "Delivery By",
              "sname": "Staff",
              "MID": "Manager",
              "assigned_date": "Assigned Date"
          }

          for (var key in orderData[0]) {
              if (orderData[0].hasOwnProperty(key) && to_be_added.includes(key)) {
                  if (key == 'OID') {
                      orderData[0][key] = "{{oid}}"
                  }
                  value = orderData[0][key]
                  if (key == 'sname') {
                    value = value + ' <button class="btn btn-primary" id ="assign-staff" onclick="callFlaskAPI()"">Assign Staff</button> <div id="dropdownContainer" style="display:none" ><select id="dropdown" class="form-control"></select> <button id="updateFieldBtn" class="btn btn-success" id ="update-assigned-staff" onclick="callFlaskAssignAPI()">Update Assigned Staff</button> </div>'
                  }
                  orderDetails.push([key_mapping[key], value]);
              }
          }
          console.log(orderDetails)
          var table = $('#orderDetailsTable').DataTable({
              data: orderDetails,
              paging: false, // Disable pagination
              Sort: false,
              columns: [
                  { data: "0" },
                  { data: "1" }
              ]
          });

         
        });

      var staff_id_mapping ={};
      var staff_data = []
      function callFlaskAPI() {
        $.ajax({
            url: '/api/getAllStaff', 
            type: 'GET',
            async: false,
            success: function(response) {
                
                console.log('API Response:', response);
                var dropdown = $('#dropdown');
                dropdown.empty();
                var data = JSON.parse(response)
                staff_data = data
                console.log(data)
                for (var i = 0; i < data.length; i++) {
                    
                    dropdown.append($('<option>').text(data[i]['Staffname']).val(data[i]['Staffname']));
                }
                $('#dropdownContainer').show();
            },
            error: function(xhr, textStatus, errorThrown) {
             
                console.error('Error:', errorThrown);
                alert('API request failed.');
            }
        });
      }

      function callFlaskAssignAPI() {
        console.log("in callFlaskAssignAPI")
            var selectedValue = $('#dropdown').val();
            console.log(selectedValue)
            var staffNameToUidMapping = {};

              staff_data.forEach(function (staff) {
                staffNameToUidMapping[staff.Staffname] = staff.UID;
            });
            console.log(staffNameToUidMapping)
            var formData = JSON.stringify({ "order": oid,
                                          "staff" : staffNameToUidMapping[selectedValue],
                                          "manager" : uid })
            $.ajax({
                url: '/assign', 
                type: 'POST',
                async: false,
                data: formData,
                contentType: 'application/json',
                success: function (response) {
                    console.log('Field updated:', response);
                    window.location.reload()
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.error('Error:', errorThrown);
                }
            });

      }
    </script>
</body>
</html>
