<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courier Management Company</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{{ url_for('static', filename='signup.js') }}"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
   TEST LOGIN PAGE
   LOGIN TYPE: {{loginType}}
    UID: {{uid}}

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html> -->


<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courier Management Company</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<style>
  .form-control{
    width: 30%;
  }
  form {
    padding: 10px;
  }
</style>
<body>
    <h1>Welcome to the Signup Page</h1>

    <form id="signupForm">
        TEST signupType PAGE
      signupType TYPE: {{signupType}}
          UID: {{uid}}

      {% if signupType == 'customer' %}
        <div id= "customerFields" class="form-group">
            <label for="firstName">First Name:</label>
            <input type="text" id="firstName" name="firstName" class="form-control">
            <br>
            <label for="lastName">Last Name:</label>
            <input type="text" id="lastName" name="lastName" class="form-control">
            <br>
            <label for="phoneNum">Phone Number:</label>
            <input type="text" id="phoneNum" name="phoneNum" class="form-control">
        </div>
      {% endif %}
      {% if signupType == 'staff' %}
        <div id="staffFields" class="form-group">
            <label for="staffName">Staff Name:</label>
            <input type="text" id="staffName" name="staffName" class="form-control">
            <br>
            <label for="role">Role:</label>
            <input type="text" id="role" name="role" class="form-control">
        </div>
      {% endif %}
      {% if signupType == 'manager' %}
        <div id="managerFields" class="form-group">
            <label for="managerName">Manager Name:</label>
            <input type="text" id="managerName" name="managerName" class="form-control">
        </div>
      {% endif %}
        <button type="submit" class="btn btn-success">Submit</button>
    </form>

</body>
<script>
  $('#signupForm').submit(function(event) {
      event.preventDefault();
      console.log("In signup form")
    var formData = $(this).serializeArray();
    var formDataObject = {};

    $.each(formData, function(index, field) {
        formDataObject[field.name] = field.value;
    });

    var formDataJSON = JSON.stringify(formDataObject);
      var signupType = "{{signupType}}"
      var uid = "{{uid}}"
      $.ajax({
          url: '/signup_user/'+signupType+'/'+uid,
          type: 'POST',
          data: formDataJSON,
          contentType: 'application/json',
          success: function(response) {
              // Handle the response from the server
            console.log("Signup successful. Response:", response);
            alert('Registeration Successful')
            window.location.href ='/'

            
          },
          error: function(xhr, textStatus, errorThrown) {
              // Handle errors from the API
              console.error("Error:", errorThrown);
              alert("Signup failed. Please try again.");
          }
      });
  });
</script>
</html>
